
	body.f1{ background color: rgb(141, 141, 141); }
    li.formatacao1{ font-size: 15px; 
                    font-family: georgia;
                color: black;}
   h3.formatacao1{ font-family: comic sans ms; }
   h1.formatacao1{ font-family: impact;
                   font-size: 40px; }
                   h2.formatacao2{ font-family: impact;
                                   font-size: 25px;
                                   color: rgb(204, 0, 5); }
                                   h2.formatacao3{ font-family: impact;

                                   font-size: 35px;
                                   color: rgb(204, 0, 5); }
   body.f2{ background=color: rgb(230, 230, 230); }
                    dt.formatacao1{ font-size: 15px; 
                    font-family: comic sans ms;}
h1{
    color: rgb(204, 0, 5);
}
a{
    text-decoration: none;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(204, 0, 5);
    background-color: rgb(204, 0, 5) ;
    color: whitesmoke;
    font-size: 18px;
    font-family: impact;
    text-align: center;
}
a:link,a:visited{
    text-decoration: none;
    border-width: 4px;
    border-style: solid;
    background-color: rgb(204, 0, 5);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: impact;
    border-radius:;
    text-align: center;
}
a:hover,a:active{
    text-decoration: none;
    border-width: 4px;
    border-style: ;
    border-color: rgb(204, 0, 5); 
    background-color: rgb(204, 0, 5);
    color: whitesmoke;
    font-size: 20px;
    font-family: impact;
    text-align: center;
}
a.bt{
    text-decoration: none;
    border-width: 4px;
    border-color: rgb(204, 0, 5);
    background-color: rgb(204, 0, 5) ;
    color: whitesmoke;
    font-size: 18px;
    font-family: impact;
    border-radius: 130px;
    text-align: center;
}
a.mt{
text-decoration: none;
border: 0px solid black;
}
a.st4{
    text-decoration: none;
    border-width: 0px;
    border-style: solid;
    
    background-color: rgb(204, 0, 5) ;
    color: whitesmoke;
    font-size: 18px;
    font-family: impact;
    text-align: center;
}
h3.formatacao4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(204, 0, 5);
}
h4.st44{
    font-family: impact;
    font-size: 20px;
    color: rgb(204, 0, 5);
}
p.site4{
    width: 250px;
    font-size: 17px;
    font-family: candara;
    margin-top: 2px;
    
}
font.st42{
    color: rgb(204, 0, 5);
    font-family: impact;
    font-size: 80px;
    margin-top: 2px;
}
#box5{
    width:189px ;
    height: 7px;
    background-color: rgb(204, 0, 5);
    line 
}
nav{
    display:flex;
}
h3.formatacao42{
    font-family: candara;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 520px;
    text-align: center;
}
#box6{
    width:150px ;
    height: 1000px;
    background-color: rgb(204, 0, 5);
    position: absolute;
    left: 20px;
    top: 17px;
}
h2.site5{
    font-family: candara;
    color: white;
    font-size: 20px;
    text-align: center;
}
#box8{
    margin-left: 90px;
}
#box9{
    background-color:rgb(204, 0, 5);
    width: auto;
    height: auto;
    padding: auto;
    

    
}
div{
   
}
body{

}
h3.texto3{
    width: 600px;
    font-family: candara;
    font-size: 18px;
   
}
h2.set5{
    color: black;
    text-align: center;
    
}
#box10{
    margin-left: 90px;
    background-color:rgb(255, 255, 255) ;
}
p.site30{
    margin-left: 200px;
}
.container{
    display: flex;
    margin-left: 180px; 
}
h2.site33{
    margin-left: 200px;
    margin-top: 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(204, 0, 5);
}
img.padrao3{
    display: inline-block;
    margin-left: 550px;
}
#box7{
    width:150px ;
    height: 530px;
    background-color: rgb(204, 0, 5);
    position: fixed;
    left: 20px;
    top: 120px;
    
}
h3.texto4{
    font-family: candara;
    margin-left: 240px;
}
h3.set8{
    font-family: candara;
    margin-left: 130px;
    color: black;
    width: 550px;
    font-size: 15px;
}
h2.set6{
    color: black;
    text-align: center;
}
h3.set0{
    font-family: candara;
    margin-left: 100px;
    color: rgb(204, 0, 5); 
    width: 550px;
    font-size: 15px;
    ;
}
img.site00{
    display: inline-block;
}
img.site000{
    display: inline-block;
}
h3.set0000{
    font-family: candara;
    margin-top: 100px;
    margin-right: 300px ;
    color: rgb(204, 0, 5); 
    font-size: 18px;
    width: 700px;
    
}
h3.set00{
    font-family: candara;
    margin-left: 130px;
    color: rgb(204, 0, 5); 
    width: 550px;
    font-size: 15px;
}
h2.set55{
    color: black;
    text-align: center;
    
}
img.img33{
    display: inline-block;
    margin-left: 260px;
}
p.site5{
    width: 400px;
}
img.padrao1{
    margin-left: 550px;
}
img.padrao2{
    margin-left: 520px;
}
img.padrao4{
    margin-left: 550px;
}
img.padrao5{
    margin-left: 550px;
}
h3.site5{
    color: rgb(204, 0, 5);
}
table{
    border: 2px;
    border-style: solid black;
    border-width: 10px;
    width: 600px
}
tr{
    text-align: justify;
}
th{
    text-align: center;
}
td{
    border-style: solid;
    border-width: 1px;
	border-color: black;
	width: 300;
    text-align: center;
}
td.pesoab{
    background-color: rgb(233, 0, 4);
}
td.pesoid{
    background-color: rgb(0, 233, 12);
}
td.pesoac{
    background-color: rgb(230, 215, 5);
}
td.ob1{
    background-color:rgb(247, 80, 2);
}
td.ob2{
    background-color: rgb(252, 31, 15);
}
td.ob3{
    background-color: rgb(233, 0, 4);
}
input.st5{
    border-radius: 15px;
    border-width: 2px;
    background-color: rgba(255, 255, 255);
    width: 70px;
    height: 60px;
    border-color: rgb(255, 0, 0);
    text-align: center;
    border-style: solid;
    margin-right: 50px;
}
h3.set44{
    font-family: candara;
    width: 460px;
    font-size: 16px;
}
font.set4{
    color: rgb(204, 0, 5);
    font-size: 20px;
    font-family: impact;
}
h2.peri4{
    color: rgb(204, 0, 5);
    font-size: 28px;
    font-family: impact
}
p.pd4{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3.peri44{
    color: rgb(204, 0, 5);
    font-size: 19px;
    font-family: impact;
}
h2.peri444{
    font-size: 20px;
    font-family: impact;
    width: 300px;
    color: rgb(204, 0, 5);
}
h3.st44{
    font-family: candara;
    font-size: 17px;
    margin-left: 200px;
}
h2.peri4444{
    font-size: 20px;
    font-family: impact;
    width: 350px;
    color: rgb(204, 0, 5);
}
p.dd4{
    font-size: 17px;
}
h3.dd5{
    font-family: georgia;
    font-size: 15px;
    color: rgb(37, 35, 35);
}
h2.dd55{
    font-family: georgia;
    font-size: 15px;
    color: rgb(37, 35, 35);
}
h2.dd555{
    font-family: georgia;
    font-size: 15px;
    color: rgb(37, 35, 35);
    width: 300px;
}
h1.ft5{
    margin-block-start: 0em;
    color: white;
    font-family: candara;
}
h2.ft5{
    color: #D4D4D2;
}
.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    height: 1.5em;
}
.conteiner2{
    background-color:#1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 1.5em;
    flex-direction: column;
    align-items: center;
}
button{
    height: 3em;
    width: 100%;
    background-color: rgb(204, 0, 5);
    border: none;
    color: white;
    border-radius: 1.5em;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
}
.area{
    display: flex;
    justify-content: center;
}
.cell{
    position: relative;
    margin: 0 15;
    width: 430px;
    height: 440px;
    overflow: hidden;
    border-radius: 8px;
}
.cell img{
    width: 510px;
    height: 510px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}
.overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
}
h2.text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    color: #ffffff;
    transform: translate( -50%, -50%);
    text-align: center;
    font-weight: bolder;
}
.cell:hover .overlay{
    opacity: 1;
}
.carrousel{
    margin-left: 80px;
    width: 100%;
    display: flex;

}
img.padrao33{
    width: 420px;
    height: 430px;
}
h2.rodape{
    color: white;
    margin-left: 120px;
    font-family: verdana;
    font-size: 18px;
}
h3.rodape1{
    color: white;
    margin-left: 100px;
    font-size: 15px;
    
}
p.rodape2{
    color: white;
    width: 550px;
    text-align: center;
}
img.rodape{
    width: 180px;
    height: 180px;
    margin-left: 100px;
}
div.imgrodape{
    display: inline-block;
}
.prodape{
    display: inline-block;
   
}
.trodape{
    display: inline-block;
    margin-left: 150px;
    margin-top: 0%;
}
.rodape1{
    margin-left: 100px;
}
.insta{
    display: flex;
}
#box1{
    width:150px ;
    height: 600px;
    background-color: rgb(204, 0, 5);
    position: absolute;
    left: 20px;
    top: 17px;
}
#box2{
    width:150px ;
    height: 2000px;
    background-color: rgb(204, 0, 5);
    position: absolute;
    left: 20px;
    top: 17px;
}
#box3{
    width:150px ;
    height: 2000px;
    background-color: rgb(204, 0, 5);
    position: absolute;
    left: 20px;
    top: 17px;
}
#box44{
    width:150px ;
    height: 6700px;
    background-color: rgb(204, 0, 5);
    position: absolute;
    left: 20px;
    top: 17px;
}
#box5{
    width:150px ;
    height: 1300px;
    background-color: rgb(204, 0, 5);
    position: absolute;
    left: 20px;
    top: 17px;
}
div.rodape1{
    background-color: rgb(204, 0, 5);
    width: 1585px;
    position: absolute;
    margin-left: -100px;
    margin-bottom: -100px;
}
div.rodape2{
    background-color: rgb(204, 0, 5);
    width: 1585px;
    position: absolute;
    margin-left: -200px;
    margin-bottom: -100px;
}
div.rodape3{
    background-color: rgb(204, 0, 5);
    width: 1585px;
    position: absolute;
    margin-left: -100px;
    margin-bottom: -100px;
}
div.rodape4{
    background-color: rgb(204, 0, 5);
    width: 1585px;
    position: absolute;
    margin-left: -200px;
    margin-bottom: -100px;
}
div.rodape5{
    background-color: rgb(204, 0, 5);
    width: 1585px;
    position: absolute;
    margin-left: -100px;
    margin-bottom: -100px;
}